.metrics-page {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  color: #333;
}

.metrics-page .avatar {
  background-color: #C2185B;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 48px;
  font-weight: bold;
}

.study-prompt {
  margin-top: 20px;
}

.go-practice-btn {
  background-color: #007bff; /* Blue background */
  color: white; /* White text */
  padding: 10px 15px; /* Padding */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Hand icon on hover */
  font-size: 16px; /* Font size */
  margin: 10px 0; /* Margin for spacing */
}

.go-practice-btn:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
  .metrics-page h1 {
    margin: 0.5em 0;
  }
  
  .metrics-page p {
    margin: 0.2em 0;
  }
  
  .past-exams-title {
    font-weight: bold;
    margin-top: 20px;
  }
  
  .chart-container {
    width: 100%;
    margin-top: 20px;
  }
  
  /* Additional styling for the chart */
  .chart-container canvas {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  